<p id="notice"><%= notice %></p>

<h1 class='topics_heading'>Listing Topics</h1>

<!-- <% @topics.each do |topic| %>
<div class='topic_container'>
  <h2 class='topic_title'><%= link_to topic.title, topic_path(topic) %></h2>
  <p class='topic_desc'><%= topic.long_description %></p>
</div>
<% end %> -->
<div class='row row-centered'>
<% @topics.each do |topic| %>

    <div class='col-xs-6 col-md-3 col-centered topic_container'>
      <h2 class='topic_title_display'><%= link_to topic.title, topic_path(topic) %></h2>
      <p class='topic_desc'><%= topic.long_description %></p>
  </div>

<% end %>
</div>

<br>
